<% page = { 'title' : 'PAGE_TITLE', 'key': 'INDEX_PAGE_NAME'} %>
<% assets = { 'css' : [], 'js' : [] } %>

<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1 class="font21 serif"><%- t('welcome_title')%></h1>
  <p><%- t('welcome_message')%></p>
  <p>   
    <a class="btn btn-large btn-primary" href="/hello">Frontier Apprentice Badge &raquo;</a>
  </p>
</div>
