<% page = { 'title' : 'PAGE_TITLE', 'key': 'INDEX_PAGE_NAME'} %>
<% assets = { 'css' : ['index/index.css'], 'js' : [] } %>

<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1 class="font21 serif"><%- t('welcome_title')%></h1>
  <hr/>
  <section>

  	<!-- <label><%- i18n('badges_ready_to_grade') %>:</label> -->

  	<label><%- i18n('badges_in_progress') %>:</label>
	  <div>
	  	<a class="btn btn-warning" href="/javascript/journeyman"><i class="glyphicon glyphicon-refresh"></i> JavasScript Apprentice Badge &raquo;</a>
  	</div>

	  <label><%- i18n('badges_attained') %>:</label>
	  <div>
	  	HTML5/CSS3:
	  	<a class="btn btn-success" href="/html5css3/apprentice"><i class="glyphicon glyphicon-ok"></i> HTML5/CSS3 Apprentice Badge &raquo;</a>
	  	<a class="btn btn-success" href="/html5css3/journeyman"><i class="glyphicon glyphicon-ok"></i> HTML5/CSS3 Journeyman Badge &raquo;</a>
	  </div>
	  <div>
	  	Frontier:
		  <a class="btn btn-success" href="/frontier/apprentice"><i class="glyphicon glyphicon-ok"></i> Frontier Apprentice Badge &raquo;</a>
		  <a class="btn btn-success" href="/frontier/journeyman"><i class="glyphicon glyphicon-ok"></i> Frontier Journeyman Badge &raquo;</a>
	  </div>
  </section>
</div>
