<!-- Modal -->
<div id="task-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="btn close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">Javascript Apprentice Tasks:</h3>
			</div>
			<div class="modal-body">

				<h3>Testing Techniques and Technology</h3>
				<ul>
					<li><i class="glyphicon glyphicon-refresh btn btn-warning"></i> <strong>Unit Test Organization — Suites with mocha</strong>
						<ul>
							<li>Write a unit test with at least one describe, one it, one beforeEach or before, and one afterEach or after.</li>
							<li>Discuss the functionality of each: describe, it, before, beforeEach, after, and afterEach.</li>
							<li>Have some state maintained in the setup and tear-down functions of the suite, and accessed in the unit test.</li>
						</ul>
					</li>
					<li><i class="glyphicon glyphicon-refresh btn btn-warning"></i> <strong>Verification — asserting things with expect.js.</strong>
						<ul>
							<li>Use each of the following properly and be prepared to discuss their function: eql, be, throw, equal, match.</li>
							<li>Be prepared to discuss the function of the following: not, deep</li>
						</ul>
					</li>
				</ul>

				<h3>Performance Techniques</h3>
				<ul>
					<li><i class="glyphicon glyphicon-refresh btn btn-warning"></i> <strong>Take a measurement</strong>
						<ul>
							<li>Implement some operation or feature.</li>
							<li>Create an alternate implementation that is functionally identical but has distinct performance characteristics</li>
							<li>Create a unit test suite that demonstrates the relative performance characteristics of your two implementations.</li>
						</ul>
					</li>
				</ul>

			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>
	</div>
</div>