<% page = {
	'title' : 'JavaScript Apprentice',
	'key': 'JavaScript Apprentice'
} %>



<% assets = {
	'css' : ['javascript/apprentice.css'],
	'js' : ['javascript/apprentice.js']
} %>

<div ng-app id="main" data-page-name="home">
	<div class="no-layout">
		<h1 class="with-tasks">JavaScript Apprentice
			<!-- Button to trigger modal -->
			<button href="#task-modal" role="button" class="btn-tasks btn btn-primary btn-small" data-toggle="modal">See tasks</button>
		</h1>
		<hr/>

		<section>
		<div>Private data: <span id="private-data"></span></div>
		<div>Private function: <span id="private-function"></span></div>
		<div>Public interface: <span id="public-interface"></span></div>

		</section>

	</div>
</div>

<%- partial('partials/apprentice_tasks') %>