<!-- Modal -->
<div id="task-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="btn close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">HTML3/CSS3 Journeyman Tasks:</h3>
			</div>
			<div class="modal-body">
				<ul>
					<li><i class="glyphicon glyphicon-refresh btn btn-warning"></i> <strong>Create a module to hold a set of functions and data.</strong>  It should follow the module pattern that has private data and functions, and returns the public interface. Check out: http://www.adequatelygood.com/JavaScript-Module-Pattern-In-Depth.html</li>
					<li><i class="glyphicon glyphicon-refresh btn btn-warning"></i> <strong>Objects:</strong>  Create an object using object literals and containing methods to hold the contents of your form fields.  (Work completed as part of the HTML/CSS Journeyman Skill).  Demonstrate moving data between the form and the data object. </li>
					<li><i class="glyphicon glyphicon-refresh btn btn-warning"></i> <strong>Functions:</strong> Define at least 2 functions, one inside an object and one in the global name space.  Add an inner function to both and return an public interface.  Demonstrate the proper use of "this".  Demonstrate the use and value of the "closures" that were created when you defined inner functions.  Demonstrate the use of prototypes by adding and using a custom method on a library function.</li>
					<li><i class="glyphicon glyphicon-refresh btn btn-warning"></i> <strong>Events:</strong>  Demonstrate the use of event handling in your form so that the object you created in number 1 above is automatically updated when a change is made to a form field.  Minimize the number of event handlers you create.</li>
					<li><i class="glyphicon glyphicon-refresh btn btn-warning"></i> <strong>Exceptions:</strong> Demonstrate catching and throwing an exception.</li>
					<li><i class="glyphicon glyphicon-refresh btn btn-warning"></i> <strong>Regular Expressions:</strong> Demonstrate the use of regular expressions in your form validation on at least 3 fields.</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>
	</div>
</div>