<!-- Modal -->
<div id="task-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="btn close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">Javascript Journeyman Tasks:</h3>
			</div>
			<div class="modal-body">
				<ul>
					<li><i class="glyphicon glyphicon-refresh btn btn-warning"></i> <strong>Create a module to hold a set of functions and data.</strong>  It should follow the module pattern that has private data and functions, and returns the public interface. Check out: <a href="http://www.adequatelygood.com/JavaScript-Module-Pattern-In-Depth.html">http://www.adequatelygood.com/JavaScript-Module-Pattern-In-Depth.html</a></li>
					<li><i class="glyphicon glyphicon-refresh btn btn-warning"></i> <strong>AJAX:</strong> Use AJAX to retrieve and save your form data back to the server.  Your server-side controller can mock sending and receiving JSON data. Demonstrate the use of closures to make state available to your AJAX call back functions.</li>
					<li><i class="glyphicon glyphicon-refresh btn btn-warning"></i> <strong>JSON:</strong> Pass back and forth a JSON structure containing the field values.</li>
					<li><i class="glyphicon glyphicon-refresh btn btn-warning"></i> <strong>Web Worker:</strong> Create a web worker that communicates to the server in the background.  Set the worker's "onmessage" property to an event handler.  Demonstrate passing messages thru this mechanism to/from the server. https://developer.mozilla.org/en-US/docs/DOM/Using_web_workers</li>
					<li><i class="glyphicon glyphicon-refresh btn btn-warning"></i> <strong>Web Sockets:</strong>  Open up a web socket with the server.  Demonstrate sending/receiving messages to/from the server.  http://www.developerfusion.com/article/143158/an-introduction-to-websockets/</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>
	</div>
</div>