<% page = {
	'title' : 'Frontier Journeyman',
	'key': 'Frontier Journeyman!!!'
} %>
<%- include ../partials/globaljs %>
<% assets = {
	'css' : [ 'frontier/journeyman.css' ],
	'js' : 	[ 'frontier/angularDemo.js' ]
} %>

<div id="main" ng-app="demoApp">
  <header>
	  <h1>Angular Demo</h1>
		<hr/>
  </header>







	<a href="#/view1">View 1</a>
	<a href="#/view2">View 2</a>

	<!-- Angular Requirement -->
	<article id="angular-directive">
	<!-- placeholder for views -->
		<div ng-view=""></div>

	</article>











</div>