<% page = {
	'title' : 'Frontier Journeyman',
	'key': 'Frontier Journeyman!!!'
} %>
<% assets = {
	'css' : [ 'frontier/journeyman.css' ],
	'js' : 	[ 'frontier/journeyman.js' ]
} %>

<div ng-app id="main" ng-controller="FrontierJourneymanCtrl">
  <header>
	  <h1><%- i18n('page_title')%>
		  <!-- Button to trigger modal -->
			<button href="#task-modal" role="button" class="btn-tasks btn btn-primary" data-toggle="modal"><%- i18n('see_tasks') %></button>
		</h1>
		<hr/>
	  <p><%- i18n('page_message')%></p>

  </header>
  <!-- experiments currently don't work in test app, for some reason... -->
  <% if (feature('internationalGreeting')){ %>
  <article>
  	<section>
  	<p><%- i18n('international_greeting') %></p>
  	</section>
  </article>
	<% } %>

</div>

<!-- Modal -->
<div id="task-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-content">
	  <div class="modal-header">
	    <button type="button" class="btn close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="myModalLabel">Tasks:</h3>
	  </div>
	  <div class="modal-body">
	    <ul>
				<li><label>Async Programming:</label> Using the "full parallel" control flow pattern, make three simultaneous calls to an api service.</li>
				<li><i class="glyphicon glyphicon-ok btn btn-small btn-success"></i> <label>Experiments:</label> Create a feature and wrap it into an experiment.</li>
				<li><i class="glyphicon glyphicon-ok btn btn-small btn-success"></i> <label>Localizations:</label> Localize your page(s) by creating a language specific file, moving your strings into it, and adding calls to your page that substitute in the localized strings.</li>
				<li><label>Angular Directives:</label> Build a simple directive for a new HTML tag called "the-time" that displays the current time; "The time is: xxxx". Use a separate template file.</li>
			</ul>
	  </div>
	  <div class="modal-footer">
	    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
	  </div>
  </div>
</div>